@model HMS.Entites.LabResult

@{
    ViewData["Title"] = "Perform Test";
}

<div class="card my-2 p-4">
    <form asp-action="PerformTest" asp-controller="LabTechnician" method="post">
        <h4>Test Suggestion</h4>
        <input type="hidden" name="patientId" value="@Model.PatientId" />


        <div class="">
            <div class="">
                <label class="form-label">Test Name:</label>
                <input type="text" id="testName" name="testName" class="form-control" value="@Model.TestName" />
            </div>

            <div class="">
                <label class="form-label">Result</label>
                <input name="Result" id="Result" class="form-control" />
            </div>

            <div class="">
                <label class="form-label">Cost</label>
                <input type="number" name="Cost" id="Result" class="form-control" />
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary ">Suggest Test</button>
            </div>
        </div>
    </form>
</div>
